<form action="/campaign/edit" method="POST">
    <div class="modal fade" id="editCampaignModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit Campaign</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" class="form-control" name="title" id="title">
                    <label for="description" class="form-label">Description</label>
                    <textarea class="form-control" name="description" id="description" rows="2"></textarea>
                    <label for="budget" class="form-label">Budget</label>
                    <input type="text" class="form-control" name="budget" id="budget">
                    <label for="date" class="form-label">Date</label>
                    <input type="date" class="form-control" id="date" name="date"  required>
                    <label for="id" class="form-label">id</label>
                    <input type="text" class="form-control" name="id" id="id" readonly>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</form>
