<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Admin Dashboard</title>
</head>
<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light border border-dark rounded">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><label>Welcome {{name}} </label></a>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link btn btn-primary text-white rounded-pill px-3" href="#">Info</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin_find">Find</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/summary">Stats</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>



    <div id="panel" class="container mt-3">
      <!-- Ongoing Campaigns -->
      
      {% if campaigns %}
      <h4>Ongoing Campaigns:</h4>
      <div class="container">
          {% for camp in campaigns %}
          <div class="card mb-3">
              <div class="card-body d-flex justify-content-between align-items-center">
                  <div class="campaign-text">
                      {{ camp.title }} 
                  </div>
                  <div>
                      <a href="#" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#viewModal" data-val="{{ camp.title }}#{{ camp.description }}#{{camp.end_date}}#{{camp.budget}}">View</a>
                  </div>
              </div>
          </div>
          {% endfor %}
      </div>
      {% else %}
      <h4>Ongoing Campaigns:</h4>
      No ongoing campaigns found.
      {% endif %}

      <div id="panel" class="container mt-3">
        <!-- Ongoing Campaigns -->
        
        {% if flaggedinflu %}
        <div class="container">
          <h4>Flagged Influencers</h4>
            {% for camp in flaggedinflu %}
            <div class="card mb-3">
                <div class="card-body d-flex justify-content-between align-items-center">
                    <div class="campaign-text">
                         {{camp.name}} 
                    </div>
                    <div>
                      <a href="#" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#remiModal" data-val="{{ camp.name }}#{{camp.user_id}}">Delete influencer</a>
                        <a href="#" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#viewiModal" data-val="{{ camp.name }}#{{ camp.platform }}#{{camp.followers}}#{{camp.id}}">View</a>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% endif %}
            {% if flaggedspon %}
            <h4>Flagged Sponsors</h4>
            {% for camp in flaggedspon %}
            <div class="card mb-3">
                <div class="card-body d-flex justify-content-between align-items-center">
                    <div class="campaign-text">
                         {{camp.name}} 
                    </div>
                    <div>
                      <a href="#" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#remsModal" data-val="{{ camp.name }}#{{camp.user_id}}">Delete Sponsor</a>
                        <a href="#" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#viewsModal" data-val="{{ camp.name }}#{{ camp.industry }}#{{camp.id}}">View</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
     
        {% endif %}

        <div id="panel" class="container mt-3">
          <!-- Ongoing Campaigns -->
          
          {% if flaggedcamp %}
          <h4>flagged Campaigns:</h4>
          <div class="container">
              {% for camp in flaggedcamp %}
              <div class="card mb-3">
                  <div class="card-body d-flex justify-content-between align-items-center">
                      <div class="campaign-text">
                          {{ camp.title }} 
                      </div>
                      <div>
                        <a href="#" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#remcModal" data-val="{{ camp.title }}#{{camp.id}}">Delete Campaign</a>
                          <a href="#" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#viewModal" data-val="{{ camp.title }}#{{ camp.description }}#{{camp.end_date}}#{{camp.budget}}#{{camp.id}}">View</a>
                      </div>
                  </div>
              </div>
              {% endfor %}
          </div>
       
          {% endif %}
  
      <!-- Flagged Users/Campaigns -->

  

  </div>
  

  


  

    
</body>
</html>






<form action="/cam/rem" method="POST">
  <div class="modal fade" id="remcModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">remove campaign</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        
        <div class="modal-body">
          <label for="title" class="form-label">Title</label>
          <input type="text" class="form-control" name="title" id="title" readonly>
          <label for="influ" class="form-label"></label>
          <input type="text" class="form-control" name="id" id="id" hidden>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-danger">Remove</button>
        </div>
      </div>
    </div>
  </div>
  </form>
<script>
  $("#remcModal").on("show.bs.modal", function(event){
      var st=$(event.relatedTarget).data('val');
      var values=st.split('#');
      $(this).find('#title').val(values[0]);
      $(this).find('#id').val(values[1]);

    });

</script>























<form action="/spon/rem" method="POST">
  <div class="modal fade" id="remsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Delete Sponsor</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        
        <div class="modal-body">
          <label for="title" class="form-label">name</label>
          <input type="text" class="form-control" name="title" id="title" readonly>
          <label for="influ" class="form-label"></label>
          <input type="text" class="form-control" name="id" id="id" hidden>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-danger">Remove</button>
        </div>
      </div>
    </div>
  </div>
  </form>
<script>
  $("#remsModal").on("show.bs.modal", function(event){
      var st=$(event.relatedTarget).data('val');
      var values=st.split('#');
      $(this).find('#title').val(values[0]);
      $(this).find('#id').val(values[1]);

    });

</script>























<form action="/influ/rem" method="POST">
  <div class="modal fade" id="remiModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Delete influencer</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        
        <div class="modal-body">
          <label for="title" class="form-label">name</label>
          <input type="text" class="form-control" name="title" id="title" readonly>
          <label for="influ" class="form-label"></label>
          <input type="text" class="form-control" name="id" id="id" hidden>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-danger">Remove</button>
        </div>
      </div>
    </div>
  </div>
  </form>
<script>
  $("#remiModal").on("show.bs.modal", function(event){
      var st=$(event.relatedTarget).data('val');
      var values=st.split('#');
      $(this).find('#title').val(values[0]);
      $(this).find('#id').val(values[1]);

    });

</script>

























<form action="/campaign/view" method="POST">
  <div class="modal fade" id="viewiModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Influencer Details</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        
        <div class="modal-body">
          <label for="title" class="form-label">name</label>
          <input type="text" class="form-control" name="title" id="title" readonly>
          <label for="requirements" class="form-label">platform</label>
          <textarea class="form-control" name="requirements" id="description" rows="3" readonly></textarea>
          <label for="influ" class="form-label">followers</label>
          <input type="text" class="form-control" name="end_date" id="end_date" readonly>
          <label for="influ" class="form-label"></label>
          <input type="text" class="form-control" name="id" id="id" hidden>
        </div>
      </div>
    </div>
  </div>
  </form>
<script>
  $("#viewiModal").on("show.bs.modal", function(event){
      var st=$(event.relatedTarget).data('val');
      var values=st.split('#');
      $(this).find('#title').val(values[0]);
      $(this).find('#description').val(values[1]);
      $(this).find('#end_date').val(values[2]);
      $(this).find('#id').val(values[3]);

    });

</script>
























<form action="/campaign/view" method="POST">
  <div class="modal fade" id="viewModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Campaign Details</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        
        <div class="modal-body">
          <label for="title" class="form-label">Title</label>
          <input type="text" class="form-control" name="title" id="title" readonly>
          <label for="requirements" class="form-label">Description</label>
          <textarea class="form-control" name="requirements" id="description" rows="3" readonly></textarea>
          <label for="influ" class="form-label">End date</label>
          <input type="text" class="form-control" name="influ" id="end_date" readonly>
          <label for="influ" class="form-label">Budget</label>
          <input type="text" class="form-control" name="influ" id="budget" readonly>

        </div>
      </div>
    </div>
  </div>
  </form>
<script>
  $("#viewModal").on("show.bs.modal", function(event){
      var st=$(event.relatedTarget).data('val');
      var values=st.split('#');
      $(this).find('#title').val(values[0]);
      $(this).find('#description').val(values[1]);
      $(this).find('#end_date').val(values[2]);
      $(this).find('#budget').val(values[3]);

    });

</script>




<form action="/campaign/view" method="POST">
  <div class="modal fade" id="viewsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">sponsor Details</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <label for="title" class="form-label">name</label>
          <input type="text" class="form-control" name="title" id="title" readonly>
          <label for="requirements" class="form-label">Industry</label>
          <textarea class="form-control" name="requirements" id="description" rows="3" readonly></textarea>
        </div>
      </div>
    </div>
  </div>
  </form>
<script>
  $("#viewsModal").on("show.bs.modal", function(event){
      var st=$(event.relatedTarget).data('val');
      var values=st.split('#');
      $(this).find('#title').val(values[0]);
      $(this).find('#description').val(values[1]);
    });

</script>









<form action="/campaign/remove" method="POST">
  <div class="modal fade" id="deleteCampaignModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Reject Campaign Request?</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        
        <div class="modal-body">
          <label for="title" class="form-label">Title</label>
          <input type="text" class="form-control" name="title" id="title" readonly>
          <label for="requirements" class="form-label">Requirements</label>
          <textarea class="form-control" name="requirements" id="requirements" rows="3" readonly></textarea>
        </div>
  
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-danger">Remove</button>
        </div>
      
      </div>
    </div>
  </div>
  </form>
<script>
  $("#deleteCampaignModal").on("show.bs.modal", function(event){
      var st=$(event.relatedTarget).data('val');
      var values=st.split('#');
      $(this).find('#title').val(values[0]);
      $(this).find('#requirements').val(values[1]);

    });
</script>

